.content{
    margin: auto;
    max-width: 1090px;
    padding: 0px 130px 0px 130px;
    background: #f7f7f7e5;
}

.header {
    padding-top: 20px;
    display: flex;
}

.header .logo{
    flex: 1;
    padding-top: 30px;
}

.header .logo img{
    border-radius: 8px;
    box-shadow: 1px 1px 3px;
}

.header .header-text{
    flex: 7;
    padding: 20px 40px 40px 0px;
}

.header .header-text h1{
    margin: 0px 0px 0px 0px;
    font-family: "Nixie One";
    color: grey;
    margin-left: 20px;
}

.header .header-text h5{
    margin: 0px 0px 0px 0px;
    font-family: "Nixie One";
    color: grey;
    margin-left: 20px;
}

.header .header-menu{
    flex: 4
}

.recipe-card{
    display: flex;
}

.recipe-card .recipe-left{
    flex: 1;
}

.recipe-card .recipe-right{
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 100px;
}

.recipe-card h3{
    font-family: "Helvetica";
    font-weight: bold;
}

.recipe-card p{
font-family: "Helvetica";
font-weight: bold;
margin-right: 200px;
}

.recipe-card ul{
    display: flex;
}

.positive-list{
    list-style-image: url('check.png');
}

.negative-list{
    list-style-image: url('not.png');
}

.cart{
    list-style-image: url('cart.png');
}

.recipe-card li{
    margin-right: 40px;
    font-family: "Helvetica";
    
}

.recipe-right .ruler{
    display: flex;
    justify-content: center;
}

.recipe-card .button-container{
    display: flex;
}

.recipe-card button{
    background-color: rgb(209, 102, 102) !important ;
    font-family: "Helvetica" !important;
    font-size: 200% !important;
    text-transform: none !important;
    padding: 15px 25px 15px 25px !important;
    width: auto !important;
    height: auto !important;
    font-weight: 500 !important;
    justify-content: center;
}

.three-column{
    display: flex;
    margin: 30px 0px 30px 0px;
}

.one-column-text{
    flex: 1;
    margin-top: 25px;
}

.one-column-text h6{
    font-size: 175%;
    font-weight: 900;
    font-family: "Acumin Pro";
    margin-right: 50px;
}

.two-column-text{
    flex: 2;
}

.two-column-text p{
    column-count: 2;
    font-family: "Helvetica";
    color: grey;
}

.picture-content{
    flex: 2;
}

.picture-content p{
    font-family: "Helvetica";
    color: grey;
    margin-right: 20px;
}

.picture-description{
    flex: 1;
}

.picture-description p{
    font-family: "Helvetica";
    font-style: italic;
    font-size: 120%;
    margin-left: 20px;
}