html, body{
    margin: 0;
    padding: 0;
    background: black;
}

ul{
    list-style-type: square;
}

.header {
    overflow: hidden;
    background-color: #1e8f3c;
    padding: 20px;
    color: #adadad;
    white-space: nowrap;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.navbar{
    float: left;
    background-color: #363636;
    position: sticky;
    display: block;
    width: 100%;
    top: 0;
}

.navbar a{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #adadad;
    font-size: 150%;
    float: left;
}

.navbar a:hover{
    background-color: #adadad;
    color: #363636;
}

.navbar a.active{
    background-color:black;
    color: #adadad;
}

.content{
    max-width: 400px;
    margin: auto;
    background: #c24e4e;
    padding: 5px;
}

#websiteName:hover{
    color: limegreen;
}

.imageContainer{
    width: max-content;
    margin: auto;
    padding: 50px;
}