html, body{
    margin: 0;
    padding: 0;
    background: black; 
}

ul{
    list-style-type: square;
}

.content{
    display: block;
}

.header {
    overflow: hidden;
    background-color: #1e8f3c;
    padding: 20px;
    color: #adadad;
    white-space: nowrap;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.navibar{
    background-color: #363636;
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
}

.navibar a{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #adadad;
    font-size: 150%;
    justify-content: flex-start;
    
}

.navibar a:hover{
    background-color: #adadad;
    color: #363636;
}

.navibar a.active{
    background-color:black;
    color: #adadad;
}

.centercolumn{
    max-width: 400px;
    margin: auto;
    background: #c24e4e;
    padding: 5px;
}

#websiteName:hover{
    color: limegreen;
}

.imageContainer{
    display: flex;
    
    justify-content: center;
}